<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
   <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/olymp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/olymp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:name="com.olympiad.riddhima.class1_ieo.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.olympiad.riddhima.class1_ieo.Gradeoption"
            android:configChanges="orientation|keyboardHidden|screenSize"

            />
        <activity
            android:name="com.olympiad.riddhima.class1_ieo.TestOption"
            android:configChanges="orientation|keyboardHidden|screenSize"

            />
        <activity
            android:name="com.olympiad.riddhima.class1_ieo.Questions"
            android:configChanges="orientation|keyboardHidden|screenSize"

            />
        <activity
            android:name="com.olympiad.riddhima.class1_ieo.Chaptersofscience1"
            android:configChanges="orientation|keyboardHidden|screenSize"

            />
        <activity
            android:name="com.olympiad.riddhima.class1_ieo.Chaptersofscience"
            android:configChanges="orientation|keyboardHidden|screenSize"

            />
        <activity
            android:name="com.olympiad.riddhima.class1_ieo.Chaptersofmat"
            android:configChanges="orientation|keyboardHidden|screenSize"

            />
        <activity
            android:name="com.olympiad.riddhima.class1_ieo.Prevalidation"
            android:configChanges="orientation|keyboardHidden|screenSize"

            />
        <activity
            android:name="com.olympiad.riddhima.class1_ieo.ChaptersofEnglish"
            android:configChanges="orientation|keyboardHidden|screenSize"

            />
        <activity
            android:name="com.olympiad.riddhima.class1_ieo.ChaptersofCyber"
            android:configChanges="orientation|keyboardHidden|screenSize"

            />
        <activity
            android:name="com.olympiad.riddhima.class1_ieo.ChapterofEnglish_pract"
            android:configChanges="orientation|keyboardHidden|screenSize"

            />
        <activity
            android:name="com.olympiad.riddhima.class1_ieo.checksum"
            android:configChanges="orientation|keyboardHidden|screenSize"

            />
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
  
	   <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7816665801360912~4078944026"/>

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
</application>

</manifest>